---
- hosts: desktops
  remote_user: "{{ username }}"
  vars:
    dockercompose_version: 2.38.2
    nvm_version: 0.40.3
    openfortigui_version: 0.9.10-1
  tasks:
    - name: Copy SSH keys id_ed25519
      ignore_errors: yes
      copy:
        src: /ssh/id_ed25519
        dest: /home/{{ username }}/.ssh/id_ed25519
        mode: '0600'
      tags:
        - copysshkeys
    - name: Copy SSH keys id_ed25519.pub
      ignore_errors: yes
      copy:
        src: /ssh/id_ed25519.pub
        dest: /home/{{ username }}/.ssh/id_ed25519.pub
        mode: '0600'
      tags:
        - copysshkeys
    - name: Copy SSH keys id_rsa
      ignore_errors: yes
      copy:
        src: /ssh/id_rsa
        dest: /home/{{ username }}/.ssh/id_rsa
        mode: '0600'
      tags:
        - copysshkeys
    - name: Copy SSH keys id_rsa.pub
      ignore_errors: yes
      copy:
        src: /ssh/id_rsa.pub
        dest: /home/{{ username }}/.ssh/id_rsa.pub
        mode: '0600'
      tags:
        - copysshkeys
    - name: Copy SSH keys id_ecdsa
      ignore_errors: yes
      copy:
        src: /ssh/id_ecdsa
        dest: /home/{{ username }}/.ssh/id_ecdsa
        mode: '0600'
      tags:
        - copysshkeys
    - name: Remove dependencies
      become: yes
      apt:
        name:
          - brltty
        state: absent
        purge: yes
    - name: Add APT key for Oracle Repository
      become: yes
      ansible.builtin.apt_key:  
        url: https://www.virtualbox.org/download/oracle_vbox_2016.asc
        state: present
      tags:
        - virtualbox
    - name: Add Oracle Repository (Not Ubuntu 22.04)
      become: yes
      when: ansible_facts['lsb']['release'] != "23.04"
      ansible.builtin.apt_repository:
        repo: "deb [arch=amd64] http://download.virtualbox.org/virtualbox/debian {{ ansible_distribution_release }} contrib"
        state: present
      tags:
        - virtualbox
    - name: Add Oracle Repository (on Ubuntu 23.04)
      become: yes
      when: ansible_facts['lsb']['release'] == "23.04"
      ansible.builtin.apt_repository:
        repo: "deb [arch=amd64] http://download.virtualbox.org/virtualbox/debian jammy contrib"
        state: present
      tags:
        - virtualbox
    - name: Update and upgrade apt packages
      become: yes
      apt:
        upgrade: yes
        update_cache: yes
        cache_valid_time: 86400
    - name: Create update shell command file
      copy:
        dest: /home/{{ username }}/update.sh
        content: |
          #!/bin/bash
          # Funzione per ottenere la versione installata di Docker Compose
          get_installed_version() {
            if [ -x "/usr/local/lib/docker/cli-plugins/docker-compose" ]; then
              INSTALLED_VERSION=$(/usr/local/lib/docker/cli-plugins/docker-compose --version | grep -oP "\d+\.\d+\.\d+")
            else
              INSTALLED_VERSION="none"
            fi
          }
          
          # Ottieni la versione più recente di Docker Compose
          LATEST_VERSION=$(curl -s https://api.github.com/repos/docker/compose/releases/latest | grep -oP '"tag_name": "\K(.*)(?=")')
          
          # Rimuovi la 'v' dalla versione più recente, se presente
          LATEST_VERSION=${LATEST_VERSION#v}
          
          # Ottieni l'architettura e il sistema operativo della macchina
          ARCH=$(uname -m)
          OS=$(uname | tr '[:upper:]' '[:lower:]')
          
          # Se il sistema è MacOS, cambia l'OS in "darwin"
          if [ "$OS" = "darwin" ]; then
            OS="darwin"
          fi
          
          # Costruisci l'URL per il download di Docker Compose
          URL="https://github.com/docker/compose/releases/download/v${LATEST_VERSION}/docker-compose-${OS}-${ARCH}"
          
          # Ottieni la versione installata di Docker Compose
          get_installed_version
          
          # Confronta le versioni e scarica la nuova versione solo se è diversa da quella installata
          if [ "$INSTALLED_VERSION" != "$LATEST_VERSION" ]; then
            echo "Updating Docker Compose from version $INSTALLED_VERSION to $LATEST_VERSION"
            curl -L $URL -o /usr/local/lib/docker/cli-plugins/docker-compose
            chmod +x /usr/local/lib/docker/cli-plugins/docker-compose
            echo "Docker Compose updated to version $LATEST_VERSION"
          else
            echo "Docker Compose is already up-to-date (version $INSTALLED_VERSION)"
          fi
          # Update system
          apt update -y && \
          apt-get update -y && \
          apt-get upgrade -y && \
          apt dist-upgrade -y && \
          apt-get autoremove -y && \
          apt-get clean -y && \
          apt-get autoclean -y && \
          apt purge -y
        mode: a+x
    - name: Install software
      become: yes
      apt:
        name:
          - build-essential
          - curl
          - dkms
          - docker.io
          - gcc
          - git
          - linux-headers-{{ ansible_facts['kernel'] }}
          - make
          - openssh-server
          - perl
          - wireguard
        state: latest
    - name: Install Virtualbox
      become: yes
      apt:
        name:
          - virtualbox-guest-additions-iso
          - virtualbox-guest-x11
        state: latest
      tags:
        - virtualbox
    - name: Install FUSE2 (on Ubuntu 22.04)
      become: yes
      when: ansible_facts['lsb']['release'] == "22.04"
      apt:
        name:
          - libfuse2
        state: latest
    - name: Install OpenFortiGUI dependency
      become: yes
      apt:
        deb: http://archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.0g-2ubuntu4_amd64.deb
    - name: Install OpenFortiGUI
      become: yes
      apt:
        deb: https://apt.iteas.at/iteas/pool/main/o/openfortigui/openfortigui_{{ openfortigui_version }}_amd64_focal.deb
    - name: Install Google Chrome
      become: yes
      apt:
        deb: https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    - name: Enable Docker service
      become: yes
      ansible.builtin.systemd:
        name: docker
        enabled: yes
    - name: Start Docker service
      become: yes
      ansible.builtin.systemd:
        name: docker
        state: started
    - name: Create docker service directory
      become: yes
      file:
        path: /etc/systemd/system/docker.service.d
        state: directory
    - name: Setup API Docker
      become: yes
      copy:
        dest: /etc/systemd/system/docker.service.d/startup_options.conf
        content: |
          [Service]
          ExecStart=
          ExecStart=/usr/bin/dockerd -H fd:// -H tcp://0.0.0.0:2375
    - name: Reload and restart Docker Daemons
      become: yes
      ansible.builtin.systemd:
        name: docker
        state: restarted
        daemon_reload: yes
    - name: Create folder for docker compose
      become: yes
      file:
        path: /usr/local/lib/docker/cli-plugins
        state: directory
    - name: Download Docker Compose container
      become: yes
      get_url:
        url: https://github.com/docker/compose/releases/download/v{{ dockercompose_version }}/docker-compose-linux-{{ ansible_facts['architecture'] }}
        dest: /usr/local/lib/docker/cli-plugins/docker-compose
    - name: Assign permissions to Docker Compose container
      become: yes
      file: dest=/usr/local/lib/docker/cli-plugins/docker-compose mode=+x
    - name: Add current user to docker group
      become: yes
      user:
        name: "{{ username }}"
        groups: docker
        append: yes
    - name: Setup Visual Studio Code via Snap
      become: yes
      community.general.snap:
        name: code
        classic: yes
    - name: Setup PHPStorm via Snap
      become: yes
      community.general.snap:
        name: phpstorm
        classic: yes
    - name: Setup Postman via Snap
      become: yes
      community.general.snap:
        name: postman
    - name: Setup Filezilla via Snap
      become: yes
      community.general.snap:
        name: filezilla
        channel: beta
    - name: Setup MySQLWorkBench via Snap
      become: yes
      community.general.snap:
        name: mysql-workbench-community
    - name: Add Symlink for wireguard
      become: yes
      ignore_errors: yes
      file:
        src: /home/{{ username }}/wireguard/wg0.conf
        dest: /etc/wireguard/wg0.conf
        state: link
    - name: Download NVM shell file
      get_url:
        url: https://raw.githubusercontent.com/nvm-sh/nvm/v{{ nvm_version }}/install.sh
        dest: /home/{{ username }}/nvm.sh
        mode: a+x
    - name: Run NVM shell command
      script: /bin/bash /home/{{ username }}/nvm.sh
    - name: Remove NVM shell
      file:
        path: /home/{{ username }}/nvm.sh
        state: absent