---
- hosts: servers
  remote_user: "{{ username }}"
  vars:
    ansible_python_interpreter: /usr/bin/python3
    dockercompose_version: 2.38.2
    
  tasks:
    - name: Hardening SSH Server - PasswordAuthentication no
      become: yes
      ignore_errors: yes
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?\s*PasswordAuthentication\s'
        line: 'PasswordAuthentication no'
        state: present
      tags:
        - hardeningssh
    - name: Hardening SSH Server - PermitRootLogin no
      become: yes
      ignore_errors: yes
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?\s*PermitRootLogin\s'
        line: 'PermitRootLogin no'
        state: present
      tags:
        - hardeningssh
    - name: Copy SSH keys id_ed25519
      ignore_errors: yes
      copy:
        src: /ssh/id_ed25519
        dest: /home/{{ username }}/.ssh/id_ed25519
        mode: '0600'
      tags:
        - copysshkeys
    - name: Copy SSH keys id_ed25519.pub
      ignore_errors: yes
      copy:
        src: /ssh/id_ed25519.pub
        dest: /home/{{ username }}/.ssh/id_ed25519.pub
        mode: '0600'
      tags:
        - copysshkeys
    - name: Copy SSH keys id_rsa
      ignore_errors: yes
      copy:
        src: /ssh/id_rsa
        dest: /home/{{ username }}/.ssh/id_rsa
        mode: '0600'
      tags:
        - copysshkeys
    - name: Copy SSH keys id_rsa.pub
      ignore_errors: yes
      copy:
        src: /ssh/id_rsa.pub
        dest: /home/{{ username }}/.ssh/id_rsa.pub
        mode: '0600'
      tags:
        - copysshkeys
    - name: Copy SSH keys id_ecdsa
      ignore_errors: yes
      copy:
        src: /ssh/id_ecdsa
        dest: /home/{{ username }}/.ssh/id_ecdsa
        mode: '0600'
      tags:
        - copysshkeys
    - name: Remove content of auto-update
      become: yes
      ignore_errors: yes
      lineinfile:
        path: /etc/apt/apt.conf.d/20auto-upgrades
        regexp: '(^APT.*)'
        state: absent
        backup: yes
    - name: Disable auto update
      become: yes
      ignore_errors: yes
      blockinfile:
        path: /etc/apt/apt.conf.d/20auto-upgrades
        block: |
          APT::Periodic::Update-Package-Lists "0";
          APT::Periodic::Download-Upgradeable-Packages "0";
          APT::Periodic::AutocleanInterval "0";
          APT::Periodic::Unattended-Upgrade "0";
    - name: Remove dependencies
      apt:
        name:
          - brltty
        state: absent
        purge: yes
    - name: Update and upgrade apt packages
      become: yes
      apt:
        upgrade: yes
        update_cache: yes
        cache_valid_time: 86400
    - name: Create update shell command file
      copy:
        dest: /home/{{ username }}/update.sh
        content: |
          #!/bin/bash
          # Funzione per ottenere la versione installata di Docker Compose
          get_installed_version() {
            if [ -x "/usr/local/lib/docker/cli-plugins/docker-compose" ]; then
              INSTALLED_VERSION=$(/usr/local/lib/docker/cli-plugins/docker-compose --version | grep -oP "\d+\.\d+\.\d+")
            else
              INSTALLED_VERSION="none"
            fi
          }
          
          # Ottieni la versione più recente di Docker Compose
          LATEST_VERSION=$(curl -s https://api.github.com/repos/docker/compose/releases/latest | grep -oP '"tag_name": "\K(.*)(?=")')
          
          # Rimuovi la 'v' dalla versione più recente, se presente
          LATEST_VERSION=${LATEST_VERSION#v}
          
          # Ottieni l'architettura e il sistema operativo della macchina
          ARCH=$(uname -m)
          OS=$(uname | tr '[:upper:]' '[:lower:]')
          
          # Se il sistema è MacOS, cambia l'OS in "darwin"
          if [ "$OS" = "darwin" ]; then
            OS="darwin"
          fi
          
          # Costruisci l'URL per il download di Docker Compose
          URL="https://github.com/docker/compose/releases/download/v${LATEST_VERSION}/docker-compose-${OS}-${ARCH}"
          
          # Ottieni la versione installata di Docker Compose
          get_installed_version
          
          # Confronta le versioni e scarica la nuova versione solo se è diversa da quella installata
          if [ "$INSTALLED_VERSION" != "$LATEST_VERSION" ]; then
            echo "Updating Docker Compose from version $INSTALLED_VERSION to $LATEST_VERSION"
            curl -L $URL -o /usr/local/lib/docker/cli-plugins/docker-compose
            chmod +x /usr/local/lib/docker/cli-plugins/docker-compose
            echo "Docker Compose updated to version $LATEST_VERSION"
          else
            echo "Docker Compose is already up-to-date (version $INSTALLED_VERSION)"
          fi
          # Update system
          apt update -y && \
          apt-get update -y && \
          apt-get upgrade -y && \
          apt dist-upgrade -y && \
          apt-get autoremove -y && \
          apt-get clean -y && \
          apt-get autoclean -y && \
          apt purge -y
        mode: a+x
    - name: Install dependencies
      become: yes
      apt:
        name:
          - build-essential
          - curl
          - dkms
          - docker.io
          - git
          - linux-headers-{{ ansible_facts['kernel'] }}
          - openssh-server
        state: latest
    - name: Install FUSE2 on Ubuntu 22.04
      become: yes
      when: ansible_facts['lsb']['release'] == "22.04"
      apt:
        name:
          - libfuse2
        state: latest
    - name: Enable Docker service
      become: yes
      ansible.builtin.systemd:
        name: docker
        enabled: yes
    - name: Start Docker service
      become: yes
      ansible.builtin.systemd:
        name: docker
        state: started
    - name: Create folder for docker compose
      become: yes
      file:
        path: /usr/local/lib/docker/cli-plugins
        state: directory
    - name: Download Docker Compose container
      become: yes
      get_url:
        url: https://github.com/docker/compose/releases/download/v{{ dockercompose_version }}/docker-compose-linux-{{ ansible_facts['architecture'] }}
        dest: /usr/local/lib/docker/cli-plugins/docker-compose
    - name: Assign permissions to Docker Compose container
      become: yes
      file: dest=/usr/local/lib/docker/cli-plugins/docker-compose mode=+x
    - name: Add current user to docker group
      become: yes
      user:
        name: "{{ username }}"
        groups: docker
        append: yes
    # PiHole section. Tuning to use PiHole
    # Can skip because they are tagged
    - name: Replace DNS for PiHole
      become: yes
      ansible.builtin.lineinfile:
        path: /etc/systemd/resolved.conf
        regexp: '^#DNS='
        line: DNS=8.8.8.8
      tags:
        - pihole
    - name: Replace DNSStublistener for PiHole
      become: yes
      ansible.builtin.lineinfile:
        path: /etc/systemd/resolved.conf
        regexp: '^#DNSStubListener='
        line: DNSStubListener=no
      tags:
        - pihole
    - name: Remove symlink for PiHole
      become: yes
      file:
        path: /run/systemd/resolve/resolv.conf
        state: absent
      tags:
        - pihole
    - name: Add symlink for PiHole
      become: yes
      file:
        src: /etc/resolv.conf
        dest: /run/systemd/resolve/resolv.conf
        state: link
      tags:
        - pihole
